
    .content{
        --background: var(--ion-color-main, #3d5afe);
        color: white;
    }

    //------------------------------------------- Register Login Section----------------------------------------------------------

    .home-btn{
        background-color: transparent;
        border: none;
        outline:none;

        ion-icon{
            width: 35px;
            height: 35px;
        }
    }

    .home-btn:active {
        transform: translateY(4px);
      }

    .button-outer-top{
        position: relative;   
        text-align: center; 
        width: 100%;
        top: 20px;
    }
  
    .button-rounded{
        width: 214px;
        height: 214px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        overflow: hidden;
        background: #20BF6B;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    }

    .button-rounded img {
        display: block;
        width: 100%;
        padding: 12%;
        height: auto;
    }

    .signup-btn{
        color: white;
        position: absolute;
        text-align: center;
        width: 60%;
        top: 60%; left: 50%;   
        transform: translate(-50%,-50%);  
   
        ion-button{
            --box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
            font-size: 20px; 
            text-transform: none;
        }
    }

    .login-btn{
        color: white;
        position: absolute;
        text-align: center;
        top: 80%; left: 50%;
        width: 60%;
        transform: translate(-50%,-50%);   

        ion-button{
            --box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
            font-size: 20px; 
            text-transform: none;
        }   
    }