
    .content{
        --background: var(--ion-color-main, #3d5afe);
        color: white;
    }

    //------------------------------------------- Register Login Section----------------------------------------------------------

    .home-btn{
        background-color: rgba(255, 255, 255, 0);

        ion-icon{
            width: 35px;
            height: 35px;
        }
    }

    .button-outer-top{
        position: relative;    
        width: 100%;
        top: 15px;
    }

    .button-rounded{
        margin: 0 auto;
        background-color: #20BF6B;
        display: block;
        width: 200px;
        height: 200px;
        text-align: center;
        align-content: center;
        align-items: center;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        text-align: center;
        font-size: 80px;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    }

    .signup-btn{
        color: white;
        position: absolute;
        text-align: center;
        width: 60%;
        top: 60%; left: 50%;   
        transform: translate(-50%,-50%);  
   
        ion-button{
            --box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
            font-size: 20px; 
        }
    }

    .login-btn{
        color: white;
        position: absolute;
        text-align: center;
        top: 80%; left: 50%;
        width: 60%;
        transform: translate(-50%,-50%);   

        ion-button{
            --box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
            font-size: 20px; 
        }   
    }