
    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent;
    }
    
    .content{
        --background: var(--ion-color-main, #3d5afe);
        color: white;
    } 

    .button-outer-top{
        position: relative;   
        text-align: center; 
        width: 100%;
        top: 20px;
    }
  
    .button-rounded{
        width: 214px;
        height: 214px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        overflow: hidden;
        background: #20BF6B;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    }

    .button-rounded img {
        display: block;
        width: 100%;
        padding: 12%;
        height: auto;
    }

    .list{
        background-color: #3d5afe;
        margin: 0 auto;
        margin-top: 10%;
        width: 80%;
    }

    .delete-btn{
        background-color: transparent;
        border: none;
        outline:none;
        position: absolute;
        right: 10px;
        color: rgba(0, 0, 0, 0.5);

        ion-icon{
            width: 20px;
            height: 20px;
        }
    }

    ion-item {
        border-radius: 30px;
    }

    ion-item.item {
        background-color: rgb(255, 255, 255);
        margin-bottom: 30px; 
    }

    .custom-input{
        text-align: center;
    }

    .inline-flex-parent{
        display: inline-flex;
        color: white;
        text-align: center;
        display: flex;
        align-items: center; 
        justify-content: center;
    }
    .child{
        padding: 5px;
    }
    

    .login-btn{
        font-size: 20px;
        --box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);    
        text-transform: none;
    }