
    .content{
        --background: var(--ion-color-main, #3d5afe);
        color: white;
    }

    .logo{
        max-height: 80%;
        max-width: 80%;
    }

    .button-outer-top{
        position: relative;    
        width: 100%;
        top: 20px;
    }

    .button-rounded{
        margin: 0 auto;
        background-color: #20BF6B;
        display: block;
        width: 200px;
        height: 200px;
        text-align: center;
        align-content: center;
        align-items: center;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        text-align: center;
        font-size: 80px;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    }

    .list{
        background-color: #3d5afe;
        margin: 0 auto;
        margin-top: 10%;
        width: 80%;
    }

    ion-item {
        border-radius: 30px;
    }

    ion-item.item {
        background-color: rgb(255, 255, 255);
        margin-bottom: 30px; 
    }

    .custom-input{
        text-align: center;
    }

    .login-btn{
        font-size: 20px;
        --box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);        
    }