
    ion-list{
        background-color: var(--ion-color-main-dark, #2a3eb1);
    }

    .underline{
        padding-top: 5%;
        padding-bottom: 5%;
        border-bottom-width:2px;
        border-bottom-color:White;
        border-bottom-style: solid;
        width: 100%;
    }

