
<ion-content padding color="main" class="content">

  <!--
  <div *ngIf="!showSlides && !showBtns">
    <div class="title-outer">
      <h1 class="title">RunShopRun</h1>
    </div>  

    <div class="button-outer">
      <button color="secondary" class="button-rounded" (click)="aktivateSlides()">
        <img class="logo" src="../../assets/imgs/logo.svg">
      </button>
    </div>
  </div>-->

  <ion-slides id="slides" pager class="custom-bullets">
    <ion-slide id="slide">
      <h2 class="slide-title">This is some subtext<br>headline.</h2>    
      <div class="green-box"></div>
    </ion-slide>
    <ion-slide id="slide">
      <h2 class="slide-title">This is some subtext<br>headline.</h2>    
      <div class="green-box"></div>
    </ion-slide>
    <ion-slide id="slide">
      <h2 class="slide-title">This is some subtext<br>headline.</h2>    
      <div class="green-box"></div>
    </ion-slide>
    <ion-slide id="slide">
      <ion-button class="get-started-button" mode="ios" shape="round" expand="full" color="secondary" (click)="showLoginRegister()">Let's get you started!</ion-button>
    </ion-slide>
  </ion-slides>
  
</ion-content>
