<ion-app>
  <ion-menu>

    <ion-header no-border>
      <ion-toolbar style="--background: var(--ion-color-main-dark, #2a3eb1);">
        <ion-buttons slot="end">
          <ion-menu-toggle>
            <ion-button size="large" fill="clear">
              <ion-icon name="menu" style="color: white"></ion-icon>
            </ion-button> 
          </ion-menu-toggle>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content padding style="--background: var(--ion-color-main-dark, #2a3eb1);">
      <app-menu></app-menu>
    </ion-content>

  </ion-menu>
  <ion-router-outlet main></ion-router-outlet>

</ion-app>
