<ion-header no-border>
  <ion-toolbar>  
    <ion-menu-button style="color: white" slot="start"></ion-menu-button>
    <ion-button expand="full" shape="round" color="secondary">Store</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="content" fullscreen>
  <ion-grid no-padding>
    <ion-row no-padding>
      <ion-col size-sm="0" size-md="0" size-lg="2" size-xl="3"></ion-col>
      <ion-col size-sm="12" size-md="12" size-lg="8" size-xl="6">
        <ion-list>
          <ion-button mode="ios" color="secondary" expand="block"></ion-button> 
          <ion-button mode="ios" color="secondary" expand="block"></ion-button> 
          <ion-button mode="ios" color="secondary" expand="block"></ion-button> 
          <ion-button mode="ios" color="secondary" expand="block"></ion-button> 
          <ion-button mode="ios" color="secondary" expand="block"></ion-button> 
          <ion-button mode="ios" color="secondary" expand="block"></ion-button>        
        </ion-list>        
      </ion-col>
      <ion-col size-sm="0" size-md="0" size-lg="2" size-xl="3"></ion-col>
    </ion-row>
  </ion-grid>
  <!--<ion-button shape="round" (click)="logout()">Round Button</ion-button>-->
</ion-content>
