
    ion-toolbar {
        --background: transparent;
        --ion-color-base: transparent;
    }

    .content{
        --background: var(--ion-color-main, #3d5afe);
        color: white;
    }

    .button-outer-top{
        position: relative;   
        text-align: center; 
        width: 100%;
        top: 20px;
    }
  
    .button-rounded{
        width: 214px;
        height: 214px;
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        overflow: hidden;
        background: #20BF6B;
        box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);

        img {
            display: block;
            width: 100%;
            padding: 12%;
            height: auto;
        }
    }

    .list{
        background-color: #3d5afe;
        margin: 0 auto;
        margin-top: 10%;
        width: 80%;
    }

    ion-buttons{
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;     
    }

    ion-fab-button{
        padding: 10px;
        --box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    }

    ion-item {
        border-radius: 30px;
    }
    
    ion-item.item {
        background-color: rgb(255, 255, 255);
        margin-bottom: 20px; 
    }

    ion-item.item-btns{
        top: 10%;
        background-color: transparent;
    }

    .custom-input{
        text-align: center;
    }

    ion-datetime{
        margin-left: auto;
        margin-right: auto;
    }

    .delete-btn{
        background-color: transparent;
        border: none;
        outline:none;
        position: absolute;
        right: 10px;
        color: rgba(0, 0, 0, 0.5);

        ion-icon{
            width: 20px;
            height: 20px;
        }
    }

   .signup-btn{
        font-size: 20px;
        --box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    }

    .fb-btn{
        position: absolute;
        top: 100px;
        width: 80%;
        font-size: 20px;
        --box-shadow: 5px 5px 5px -5px rgba(0, 0, 0, 0.75);
    }

    