<ion-header no-border>
    <ion-toolbar mode="ios">
        <ion-back-button style="color: white;" defaultHref="/login-register"></ion-back-button>        
    </ion-toolbar>
</ion-header>

<ion-content padding class="content" fullscreen>
    <div class="button-outer-top">
        <button class="button-rounded">
            <img src="../../assets/imgs/logo.svg">
        </button>
    </div>

    <ion-list class="list">
      
      <ion-item class="item-btns" lines="none">
        <ion-buttons>
          <ion-fab-button color="secondary">
              <ion-icon style="color: white" name="mail"></ion-icon>                        
          </ion-fab-button>
    
          <ion-fab-button color="secondary">
              <ion-icon style="color: white" name="logo-facebook"></ion-icon>
          </ion-fab-button>
          
        </ion-buttons>
      </ion-item>
      <ion-item class="item" lines="none">
          <ion-input type="email" inputmode="email" placeholder="E-Mail*" class="custom-input" [(ngModel)]="user.email"></ion-input>
      </ion-item>
  
      <ion-item class="item" lines="none">
          <ion-input type="password" inputmode="password" placeholder="Password*" class="custom-input" [(ngModel)]="user.password"></ion-input>
      </ion-item>
  
      <ion-item class="item" lines="none">
          <ion-input type="text" inputmode="text" placeholder="Name*" class="custom-input" [(ngModel)]="user.name"></ion-input>
      </ion-item>
  
      <ion-item class="item" lines="none">
          <ion-datetime placeholder="Date of Birth*" displayFormat="DD/MM/YYYY" [(ngModel)]="user.birthDate"></ion-datetime>
      </ion-item>
  
      <ion-button mode="ios" shape="round" expand="full" color="secondary" class="signup-btn" (click)="register(user)">Signup</ion-button>
    </ion-list>
    
</ion-content>
